* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(80, 189, 204);
    
  }

  html{
    scroll-behavior: smooth;
  }

  body{

    background-color: white;
    overflow-x: hidden;
  }

  #welcome, #about, #contact, #projects {

      height: 100vh;
      width: 100vw;
  }
  
  .welcome{

    height: fill;
    height: 100vh;
    background-size: cover;
    position: relative;

  }
  
  header {
    background-color: rgb(23, 21, 26);
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 10px;
    font-size: 10px;
    
  }

  
  .logo {
    font-size: 3em;
    color: rgb(80, 189, 204);
    pointer-events: none;
    padding: 5px 5px;
  }
  
  .navigation a {
    text-decoration: none;
    color: rgb(80, 189, 204);
    padding: 6px 6px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 800;
    font-size: 20px;
  }
  
  .navigation a:hover,
  .navigation a.active {
    background-color: rgb(80, 189, 204);
    color: white;
    padding: 12px;
  }
  
  .foreground-container {
    position: relative;
  }
  
  .foreground-image {
    transform: translate(1300px,250px);
    z-index: 1;
    border-radius: 50%;
  }
  
  #text {
    position: relative;
    font-size: 5em;
    color: rgb(80, 189, 204);
    text-shadow: 2px 1px 2px 2px;
    margin: right 100px;
    transform: translate(500px, -100px);

  }

  #description {

    position: relative;
    font-size: 2em;
    color: rgb(80, 189, 204);
    transform: translate(515px, -90px);
    text-shadow: 25px 0 0 0px;
    font-weight: 600;

  }

#about {

  font-size: 2em;
  color: rgb(63, 62, 62); ;
  font-weight: 600;
  padding: 100px 300px ;
  line-height: 1.5;

}

.aboutHeading{

  position: relative;
  font-size: 5em;
  color: rgb(74, 171, 184);
  font-weight: 700;
  text-align: center;
  line-height: 100px;
  padding-top: 100px;

}

.aboutContent{

  position: relative;
  margin: -350px;
  word-wrap: break-word;
  
}

.aidanvball{

  position: relative;
  border-radius: 20%;
  z-index: -1;
  margin-left: 83%;
  transform: translateY(200px);
  
}

li{

  margin: 30px;
  text-indent: -1.5em;

}

.languageLogos{

  display: flex;
  border-radius: 50%;
  justify-content: space-around;

}

.projects{

  padding-top: 100px;

}

#projectHeader{

  position: relative;
  text-align: center;
  font-size: 5em;
  margin: 0px;
  z-index: 1;
  padding-top: 100px;

}

#projectHeader2{

  position: relative;
  text-align: center;
  font-size: 3em;
  padding: 10px;
  margin: -20px;
  z-index: 1;

}

.carousel {
  position: relative;
  align-items: bottom;
  background-color: rgb(255, 255, 255);
  height: 700px;


}

.carousel__item {

  height: 300px;
  padding: 1em;
  font-size: 2em;
  display: none;
  
  
}

.carousel__item--selected{

  display: block;
  height: 700px;
  text-align: center;

}

.carousel__nav {

  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button { 
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__button--selected {

  background: rgba(0, 0, 0, 0.5);

}

#contact{

  font-size: 3em;
  text-align: center;
  padding-top: 300px;
  
}

.ContactImages{

  position: relative;
  overflow: hidden;
  border-radius: 50% ;
  z-index: 1;
  width: 300px;
  height: auto;
  margin-left: 75%;
  margin-top: -12%;

}






@media screen and (max-width: 1920px) {

  .foreground-container {
    position: relative;
  }
  
  .foreground-image {
    transform: translate(1200px,350px);
    z-index: 1;
    border-radius: 50%;
  }
  
  #text {
    position: relative;
    font-size: 5em;
    color: rgb(80, 189, 204);
    text-shadow: 2px 1px 2px 2px;
    margin: right 100px;
    transform: translate(400px, 000px);

  }

  #description {

    position: relative;
    font-size: 2em;
    color: rgb(80, 189, 204);
    transform: translate(415px, 24px);
    text-shadow: 25px 0 0 0px;
    font-weight: 600;

  }

  #text {
    transform: translateY(500px);
    transform: translateX(375px);


  }
  
  #description {
    transform: translateY(000px);
    transform: translateX(375px);

  }

  #about {


    font-size: 2em;
    color: rgb(63, 62, 62); ;
    font-weight: 540;
    padding: 100px 300px ;
    line-height: 1.5;
  

  }

  .aboutContent{

    position: relative;
    padding: 0;
    margin-top: -200px;

  }

  .aidanvball{

    position: relative;
    border-radius: 20%;
    z-index: -1;
    margin-left: 82%;
    transform: translateY(200px);
  
  }

}






@media screen and (max-width: 768px) {

  body{

    overflow-x: hidden;
    

  }

  *,*::before,*::after{
    box-sizing: border-box;
  }


  header {
    font-size: 10px;
    padding: 5px;
    width: 100%;
  }

  #welcome, #about, #projects {

    
    padding: 10px;
  }

  #contact{

    height: auto;
    width: auto;
  }

  .logo {
    font-size: 2em;
  }

  .navigation a {
    font-size: 10px;
    padding: 4px 8px;
  }



  .foreground-image {
    display: none; /* Want to display image under hi my name is aidan. Giving problems*/

  }

  .welcome{

    transform: translateY(-10px);

  }

  #text,
  #description {
    position: relative;
    text-align: center;
    transform: translateY(20px);
    padding: 5px ;
  
  }

  #about {
    font-size: 1.2em;
    padding: 2ch;
  }

  .aboutContent {
    margin: 0; /* Reset margin on mobile */
    height: 00px;

  }

  .languageLogos{

    display: flex;
    border-radius: 50%;
    justify-content: space-around;
    overflow-x: hidden;

  
  }
  

  .aidanvball {
    display: flex; 
    margin-left: 15%;
    transform: translateY(-75vh);
    width: 70%;
    height: auto;
    z-index: -1;
  }

  #contact {
    font-size: 1em;
    align-items: center;
    overflow-x: hidden;
  }

  .ContactImages{
    display: none;
    overflow-x: hidden;
  }


  .carousel {
    position: relative;
    align-items: bottom;
    background-color: rgb(255, 255, 255);
    height: 300px;
    overflow-x: hidden;
  
  
  }
  
  .carousel__item {
  
    height: auto;
    font-size: 1.5em;
    display: none;
    overflow-x: hidden;
    
    
  }
  
  .carousel__item--selected{
  
    display: block;
    height: 300px;
    text-align: center;
    overflow-x: hidden;
  
  }
  
  .carousel__nav {
  
    width: 100%;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    overflow-x: hidden;
  }
  
  .carousel__button { 
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    overflow-x: hidden;
  }
  
  .carousel__button--selected {
  
    background: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
  
  }



  #contact{

    font-size: 1em;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
  }
  
  .ContactImages{
  
    position: none;

  }
  

  

}
